<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Survey</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href="http://www.w3schools.com/w3css/w3.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--
    

        -->
</head>

<body>

    <div class="w3-container">

        <div class="w3-row">
            <div class="w3-col s12 m12 l12 w3-center">
                <h1>
                    <%= title %>
                </h1>
            </div>
        </div>

        <form id="result" action="/" method="get">
            <div class="w3-row" id="fullname">
                <div class="w3-col s12 m5 l3">
                    <label class="inline" for="name">
                        Your Name:
                    </label>
                </div>
                <div class="w3-col s12 m7 l9">
                    <%= name %>
                </div>
            </div>
            
            <div class="w3-row">
                <div class="w3-col s12 m5 l3">
                    <label id="location"  class="inline" for="location-select">
                        Dojo Location:                
                    </label>
                </div>
                <div class="w3-col s12 m7 l9">
                    <%= location %>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col s12 m5 l3">
                    <label id="language"  class="inline" for="language-select">
                        Favorite Language:
                    </label>
                </div>
                <div class="w3-col s12 m7 l9">
                    <%= language %>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col s12 m5 l3">
                    <label id="e-mail"  class="inline" for="e-mail-input">
                        Email:
                    </label>
                </div>
                <div class="w3-col s12 m7 l9">
                    <%= email %>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col s12 m12 l12">
                    <label id="comment"  class="inline" for="comment-box">
                        Comment (optional):
                    </label>
                </div>
                <div class="w3-col s12 m12 l12">
                    <%= comment %>
                </div>
            </div>
            
            <div class="w3-row">
                <div class="w3-col s12 m9 l7">
                    &nbsp;
                </div>
                <div class="w3-col s12 m3 l5">                
                    <input id="submit-button" type="submit" value="Go Back"/>
                </div>
            </div>
            
        </form>
    </div>

    <script>
    </script>
</body>
